<h4 class="position-absolute top-0 start-50 translate-middle-x">Available Drones</h4>


<div class="align-items-center">
{{#each drones}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"> <p>Name:{{this.name}}</p></h5>
    <h5 class="card-title" ><p>Propellers:{{this.propellers}}</p></h5>
   <h5 class="card-title" ><p>Maximum Speed:{{this.maxSpeed}}</p></h5>
    
    <div class="btn-group" role="group" aria-label="Basic outlined example">
     <form action="/drones/{{this._id}}/delete" method="GET">
  <button class="btn btn-outline-danger">Delete</button>
</form>

    <form action="/drones/{{this._id}}/edit" method="GET">
  <button type="submit" class="btn btn-outline-warning">Edit</button>
</form>
  </div>
  </div>
</div>
{{/each}}
</div>